<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'save_medicament' %}" method="post" enctype="multipart/form-data" id="create-medicament-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создание нового медикамента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <table class="table table-borderless table-sm" id="table-form">
                        <tbody>
                            <tr>
                                <td>Название:</td>
                                <td>
                                    <input type="text" id='medicament-name' class="form-control form-control-sm" name="medicament-name">
                                </td>
                            </tr>
                            <tr>
                                <td>Цена:</td>
                                <td>
                                    <input type="text" id='medicament-price' class="form-control form-control-sm" name="medicament-price">
                                </td>
                            </tr>
                            <tr>
                                <td>Фото упаковки:</td>
                                <td>
                                    <input id="input-photo-face" type="file" name="photo-face" accept="image/*" capture>
                                    <img id="photo-face" style="visibility: hidden; width: 0px; height: 0px">
                                </td>
                            </tr>
                            <tr>
                                <td>Фото даты:</td>
                                <td>
                                    <input id="input-photo-date" type="file" name="photo-date" accept="image/*" capture>
                                    <img id="photo-date" style="visibility: hidden; width: 0px; height: 0px">
                                </td>
                            </tr>
                            <tr>
                                <td>Фото рецепта:</td>
                                <td>
                                    <input id="input-photo-recipe" type="file" name="photo-recipe" accept="image/*" capture>
                                    <img id="photo-recipe" style="visibility: hidden; width: 0px; height: 0px">
                                </td>
                            </tr>
                            <tr>
                                <td>Категория:</td>
                                <td>
                                    <select id="category" name="category">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Годен до:</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                <input type='text' class="form-control" id="expire-date-picker" name="expire-date"/>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-window-creation">Закрыть</button>
                    <button type="submit" class="btn btn-primary" id="save-medicament" value="save-medicament">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    var makeVisibleImage = function(fileControl, oFREvent) {
        fileControl.attr('src', oFREvent.target.result);
        fileControl.css('visibility', 'visible');
        fileControl.width('200px');
        fileControl.height('200px');
    };
    var makeHiddenInputFile = function(fileControl) {
        fileControl.attr('src', '');
        fileControl.css('visibility', 'hidden');
        fileControl.width('0px');
        fileControl.height('0px');
    };
{#    -------------------------------------#}
{#    Сохранение снимка#}
    oFReaderPhotoFace = new FileReader();
    oFReaderPhotoDate = new FileReader();
    oFReaderPhotoRecipe = new FileReader();

    oFReaderPhotoFace.onload = function (oFREvent) {
        makeVisibleImage($('#photo-face'), oFREvent);
    };
    oFReaderPhotoDate.onload = function (oFREvent) {
        makeVisibleImage($('#photo-date'), oFREvent);
    };
    oFReaderPhotoRecipe.onload = function (oFREvent) {
        makeVisibleImage($('#photo-recipe'), oFREvent);
    };

    $("#input-photo-face").change(function (){
        var oFile = this.files[0];
        oFReaderPhotoFace.readAsDataURL(oFile);
    });
    $("#input-photo-date").change(function (){
        var oFile = this.files[0];
        oFReaderPhotoDate.readAsDataURL(oFile);
    });
    $("#input-photo-recipe").change(function (){
        var oFile = this.files[0];
        oFReaderPhotoRecipe.readAsDataURL(oFile);
    });
{#    -------------------------------------#}

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
            xhr.setRequestHeader('X-CSRFToken', key);
        }
    });

    $('#save-medicament').on('click', function( event ) {
        event.preventDefault();
        var data = new FormData();
        data.append('name', $('#medicament-name').val());
        data.append('price', $('#medicament-price').val());
        data.append('photo-face', $("#input-photo-face")[0].files[0]);
        data.append('photo-date', $("#input-photo-date")[0].files[0]);
        data.append('photo-recipe', $("#input-photo-recipe")[0].files[0]);
        data.append('category', $('#category').val());
        data.append('expire-date', $('#expire-date-picker').val());

        $.ajax({
            method:'POST',
            url: "{% url 'save_medicament' %}",
            data: data,
            processData: false,
            contentType: false,
            success: function(resp){
                $('#close-window-creation').click();
                $('#medicaments-table').DataTable().ajax.reload();
                $('#create-medicament-form')[0].reset();
                makeHiddenInputFile($('#photo-face'));
                makeHiddenInputFile($('#photo-date'));
                makeHiddenInputFile($('#photo-recipe'));
            },
            error: function(resp) {
                console.log('Ajax Error', r);
            }
        });
    });

    $.ajax({
        type: 'GET',
        url: "{% url 'get_categories' %}",
        success: function(response){
            $.each(response, function(key, value) {
                var selected = '';
                if (value[1].toLowerCase() === 'пусто') {
                    selected = 'selected';
                }
                $('#category').append('<option value="' + value[0] + '"' + ' ' + selected + '>' + value[1] + '</option>')
            })
        }
    });

    $('#expire-date-picker').datetimepicker({
        locale: 'ru',
        date: new Date(),
        format: 'DD.MM.YYYY'
    });
</script>