{% csrf_token %}

<div class="col-md-12">
    <div class="row">
        {% include 'incl_modal_create_new_medicament.html' %}
        <button id="add-new-medicament" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">Добавить медикамент</button>
    </div>
    <div class="row top-buffer">
        <table id="medicaments-table" class="display compact table-bordered" style="width:100%"></table>
    </div>
</div>

<script>
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
            xhr.setRequestHeader('X-CSRFToken', key);
        }
    });

    var buttonMarkAsUsed = '<button type="button" class="btn btn-danger btn-sm">Израсх.</button>';

    $('#medicaments-table').on( 'click', 'button', function () {
        var currentRow = $(this).closest('tr')[0];
        var id = $(currentRow).attr('id').replace('id', '');
        var url = "{% url 'update_medicament' medicament_id=0 %}";
        var data = {used_up: true};

        url = url.substring(0, url.length - 1) + id.toString();
        $.ajax({
            type: 'PATCH',
            url: url,
            data: JSON.stringify(data),
            success: function(resp){
                $('#medicaments-table').DataTable().ajax.reload();
            },
            error: function(resp) {
                console.log('Ajax Error', r);
            }
        });


    });

    var imageTemplateRenderer = function(data, type, row) {
        var img = '';
        if (data) {
            img = '<img src="' + data + '"  height="50" width="50"/>';
        }
        return img
    };

    $('#add-new-medicament').on( 'click', function () {
        $('#expire-date-picker').data("DateTimePicker").date(new Date());
        $('#opening-date-picker').data("DateTimePicker").date(new Date());
        $('#use-up-date-picker').data("DateTimePicker").date(new Date());
    });

    var tbl = $('#medicaments-table').DataTable({
        ajax: "{% url 'get_medicaments' %}",
        columns: [
            {
                title: 'ID',
                visible: false,
                searchable: false
            },
            {title: 'Название'},
            {title: 'Цена'},
            {title: 'Категория'},
            {title: 'Фото упак.', render: imageTemplateRenderer},
            {title: 'Фото даты', render: imageTemplateRenderer},
            {title: 'Фото рец.', render: imageTemplateRenderer},
            {title: 'Дата созд.'},
            {title: 'Годен до'},
            {title: 'Открыт'},
            {title: 'Испол-ь до'},
            {title: 'Ком-ий'},
            {
                title: 'Статус',
                visible: false,
                searchable: false
            },
            {
                title: 'Flag',
                visible: false,
                searchable: false
            },
            {
                title: 'Израс-ан',
                targets: -1,
                data: null,
                render: function (data, type, row, meta) {
                    var status_active = row[13];
                    return status_active ? buttonMarkAsUsed: row[12];
                }
            },
            {
                title: 'Править',
                targets: -1,
                data: null,
                defaultContent: buttonMarkAsUsed
            },

        ],
{#            paging: false,#}
{#            ordering: false,#}
        info: false,
        bSortClasses: false,
        select: true,
        aaSorting: [],
        createdRow: function(nRow, data, dataIndex) {
            $(nRow).attr('id', 'id' + data[0].toString());
        }
        });

</script>
