<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'save_medicament' %}" method="post" enctype="multipart/form-data" id="create-medicament-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создание нового медикамента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <table class="table table-borderless table-sm" id="table-form">
                        <tbody>
                            <tr>
                                <td>Название:</td>
                                <td>
                                    <input type="text" id='medicament-name' class="form-control form-control-sm" name="medicament-name">
                                </td>
                            </tr>
                            <tr>
                                <td>Цена:</td>
                                <td>
                                    <input type="text" id='medicament-price' class="form-control form-control-sm" name="medicament-price">
                                </td>
                            </tr>
                            <tr>
                                <td>Фото:</td>
                                <td>
                                    <input id="medicament-photo-face" type="file" name="image" accept="image/*" capture>
                                    <img id="fotoImg" style="visibility: hidden; width: 0px; height: 0px">
                                </td>
                            </tr>
                            <tr>
                                <td>Категория:</td>
                                <td>
                                    <input id="medicament-category" type="file" name="image" accept="image/*" capture>
                                    <img id="fotoImg" style="visibility: hidden; width: 0px; height: 0px">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-window-creation">Закрыть</button>
                    <button type="submit" class="btn btn-primary" id="save-medicament" value="save-medicament">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
{#    -------------------------------------#}
{#    Сохранение снимка#}
    oFReader = new FileReader();

    oFReader.onload = function (oFREvent) {
        document.getElementById("fotoImg").style.width = '200px';
        document.getElementById("fotoImg").style.height = '200px';
        document.getElementById("fotoImg").src = oFREvent.target.result;
        document.getElementById("fotoImg").style.visibility = "visible";
        var screenHeight = screen.availHeight;
        screenHeight = screenHeight - 220;
        document.getElementById("fotoImg").style.height = screenHeight;
    };

    $("input:file").change(function (){
        var input = document.querySelector('input[type=file]');
        var oFile = input.files[0];
        oFReader.readAsDataURL(oFile);
    });
{#    -------------------------------------#}

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
            xhr.setRequestHeader('X-CSRFToken', key);
        }
    });

    $('#save-medicament').on('click', function( event ) {
        event.preventDefault();
        var data = new FormData();
        data.append('name', $('#medicament-name').val());
        data.append('price', $('#medicament-price').val());
        data.append('photo', $("#medicament-photo-face")[0].files[0]);

        $.ajax({
            method:'POST',
            url: "{% url 'save_medicament' %}",
            data: data,
            processData: false,
            contentType: false,
            success: function(resp){
                $('#close-window-creation').click();
                $('#medicaments-table').DataTable().ajax.reload();
                $('#create-medicament-form')[0].reset();
                $('#fotoImg').attr('src', '');
                $($('#fotoImg')[0]).css('visibility', 'hidden')
                $($('#fotoImg')[0]).width('0px');
                $($('#fotoImg')[0]).height('0px');
            },
            error: function(resp) {
                console.log('Ajax Error', r);
            }
        });
    });

    $.ajax({
        type: 'GET',
        url: "{% url 'get_categories' %}",
        success: function(response){
            console.log(response)
        }
    });
</script>