{% csrf_token %}

{#{% include 'incl_modal_edit_medicament.html' %}#}

<div class="col-md-12">
    <div class="row">
        {% include 'incl_modal_create_new_medicament.html' %}
        <button id="add-new-medicament" class="btn btn-success btn-sm" data-toggle="modal" data-target="#createModal">Добавить медикамент</button>
    </div>
    <div class="row top-buffer">
        <table id="medicaments-table" class="display compact table-bordered" style="width:100%"></table>
    </div>
</div>

<script>
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
            xhr.setRequestHeader('X-CSRFToken', key);
        }
    });

    var buttonMarkAsUsed = '<button type="button" class="btn btn-danger btn-sm used-up">Израсх.</button>';
    var buttonEdit = '<button type="button" class="btn btn-success btn-sm edit" data-toggle="modal" data-target="#createModal">Править</button>';
    var medicamentAction = null;
    var medicamentIdEditAction = null;

    $('#medicaments-table').on( 'click', 'button.edit', function (evt) {
        $('#createModalLabel').text('');
        var currentRow = $(this).closest('tr')[0];
        medicamentIdEditAction = $(currentRow).attr('id').replace('id', '');
        var url = "{% url 'get_medicament_data' medicament_id=0 %}".replace(/0$/, "") + medicamentIdEditAction.toString();

        makeHiddenInputFile($('#photo-face'));
        makeHiddenInputFile($('#photo-date'));
        makeHiddenInputFile($('#photo-recipe'));

        $.ajax({
        type: 'GET',
        url: url,
        success: function(resp){
            medicamentAction = 'edit';
            $('#createModalLabel').text('Правка медикамента "' + resp.name + '"');
            $('#medicament-name').val(resp.name);
            $('#medicament-price').val(resp.price);
            $('#comment').val(resp.comment);
            $('#category').val(resp.category);

            $('#expire-date-picker').data("DateTimePicker").date(resp.expiration_date);
            $('#opening-date-picker').data("DateTimePicker").date(resp.opening_date);
            $('#use-up-date-picker').data("DateTimePicker").date(resp.use_up_date);

            if(resp.photo_face) {
                makeVisibleImage($('#photo-face'), resp.photo_face);
            }
            if (resp.photo_date) {
                makeVisibleImage($('#photo-date'), resp.photo_date);
            }
            if(resp.photo_recipe) {
                makeVisibleImage($('#photo-recipe'), resp.photo_recipe);
            }
        },
        error: function(resp) {
            console.log('Ajax Error', resp);
        }
    });
        
    });

    $('#medicaments-table').on( 'click', 'button.used-up', function () {
        var currentRow = $(this).closest('tr')[0];
        medicamentIdEditAction = $(currentRow).attr('id').replace('id', '');
        var url = "{% url 'update_medicament' medicament_id=0 %}";
        var data = {used_up: true};

        url = url.substring(0, url.length - 1) + medicamentIdEditAction.toString();
        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            success: function(resp){
                $('#medicaments-table').DataTable().ajax.reload();
            },
            error: function(resp) {
                console.log('Ajax Error', r);
            }
        });
    });

    var imageTemplateRenderer = function(data, type, row) {
        var img = '';
        if (data) {
            img = '<img src="' + data + '"  height="50" width="50"/>';
        }
        return img
    };

    $('#add-new-medicament').on( 'click', function () {
        medicamentAction = 'create';
        $('#create-medicament-form')[0].reset();

        removeErrorsMsg();
        makeHiddenInputFile($('#photo-face'));
        makeHiddenInputFile($('#photo-date'));
        makeHiddenInputFile($('#photo-recipe'));

        $('#createModalLabel').text('Создание нового медикамента');
{#        $('#expire-date-picker').data("DateTimePicker").date(new Date());#}
{#        $('#opening-date-picker').data("DateTimePicker").date(new Date());#}
{#        $('#use-up-date-picker').data("DateTimePicker").date(new Date());#}
    });

    var tbl = $('#medicaments-table').DataTable({
        ajax: "{% url 'get_medicaments' %}",
        columns: [
            {
                title: 'ID',
                visible: false,
                searchable: false
            },
            {title: 'Название'},
            {title: 'Цена', width: 50},
            {title: 'Категория', visible: false},
            {title: 'Фото упак.', render: imageTemplateRenderer, width: 80},
            {title: 'Фото даты', render: imageTemplateRenderer, width: 80},
            {title: 'Фото рец.', render: imageTemplateRenderer, width: 80},
            {title: 'Дата созд.', visible: false},
            {title: 'Годен до', width: 80},
            {title: 'Открыт', visible: false},
            {title: 'Испол-ь до', width: 80},
            {title: 'Результат', visible: false},
            {title: 'Ком-ий', visible: false},
            {
                title: 'Статус',
                visible: false,
                searchable: false
            },
            {
                title: 'Flag',
                visible: false,
                searchable: false
            },
            {
                title: 'Израс-ан',
                width: 80,
                targets: -1,
                data: null,
                render: function (data, type, row, meta) {
                    var status_active = row[14];
                    return status_active ? buttonMarkAsUsed: row[13];
                }
            },
            {
                title: 'Править',
                width: 80,
                targets: -1,
                data: null,
                defaultContent: buttonEdit
            }

        ],
{#            paging: false,#}
{#            ordering: false,#}
        info: false,
        bSortClasses: false,
        select: true,
        aaSorting: [],
        createdRow: function(nRow, data, dataIndex) {
            $(nRow).attr('id', 'id' + data[0].toString());
        }
        });

    tbl.on( 'draw', function () {
        $('#medicaments-table img').on('click', function(event) {
            alert('asdasdasd')
        });
    });

</script>
