<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'save_medicament' %}" method="post" enctype="multipart/form-data" id="create-medicament-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <table class="table table-borderless table-sm" id="table-form">
                        <tbody>
                            <tr>
                                <td width="20%">Название:</td>
                                <td width="80%">
                                    <input type="text" id='medicament-name' class="form-control form-control-sm" name="name">
                                </td>
                            </tr>
                            <tr>
                                <td>Цена:</td>
                                <td>
                                    <input type="text" id='medicament-price' class="form-control form-control-sm" name="price">
                                </td>
                            </tr>
                            <tr>
                                <td>Фото упаковки:</td>
                                <td>
                                    <input id="input-photo-face" type="file" name="photo_face" accept="image/*" capture>
                                    <img id="photo-face" style="display: none; width: 0px; height: 0px">
                                </td>
                            </tr>
                            <tr>
                                <td>Фото даты:</td>
                                <td>
                                    <input id="input-photo-date" type="file" name="photo_date" accept="image/*" capture>
                                    <img id="photo-date" style="display: none; width: 0px; height: 0px">
                                </td>
                            </tr>
                            <tr>
                                <td>Фото рецепта:</td>
                                <td>
                                    <input id="input-photo-recipe" type="file" name="photo_recipe" accept="image/*" capture>
                                    <img id="photo-recipe" style="display: none; width: 0px; height: 0px">
                                </td>
                            </tr>
                            <tr>
                                <td>Категория:</td>
                                <td>
                                    <select id="category" name="category">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Годен до:</td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <input type='text' class="form-control" id="expire-date-picker" name="expire_date"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Открыт:</td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <input type='text' class="form-control" id="opening-date-picker" name="opening_date"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Испол-ь до:</td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <input type='text' class="form-control" id="use-up-date-picker" name="use_up_date"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Комментарий:</td>
                                <td>
                                    <textarea class="form-control form-control-sm" id="comment" name="comment" rows="4"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close-window-creation">Закрыть</button>
                    <button type="submit" class="btn btn-primary" id="save-medicament" value="save-medicament">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    var makeVisibleImage = function(fileControl, src) {
        fileControl.attr('src', src);
        fileControl.css('display', 'block');
        fileControl.width('200px');
        fileControl.height('200px');
    };
    var makeHiddenInputFile = function(fileControl) {
        fileControl.attr('src', '');
        fileControl.css('display', 'none');
        fileControl.width('0px');
        fileControl.height('0px');
    };

    $('#createModal').on('hidden.bs.modal', function () {
        console.log('-----------')
    });

    $('#createModal').on('hide.bs.modal', function () {
        console.log('-----------')
    });
{#    -------------------------------------#}
{#    Сохранение снимка#}
    oFReaderPhotoFace = new FileReader();
    oFReaderPhotoDate = new FileReader();
    oFReaderPhotoRecipe = new FileReader();

    oFReaderPhotoFace.onload = function (oFREvent) {
        makeVisibleImage($('#photo-face'), oFREvent.target.result);
    };
    oFReaderPhotoDate.onload = function (oFREvent) {
        makeVisibleImage($('#photo-date'), oFREvent.target.result);
    };
    oFReaderPhotoRecipe.onload = function (oFREvent) {
        makeVisibleImage($('#photo-recipe'), oFREvent.target.result);
    };

    $("#input-photo-face").change(function (){
        var oFile = this.files[0];
        oFReaderPhotoFace.readAsDataURL(oFile);
    });
    $("#input-photo-date").change(function (){
        var oFile = this.files[0];
        oFReaderPhotoDate.readAsDataURL(oFile);
    });
    $("#input-photo-recipe").change(function (){
        var oFile = this.files[0];
        oFReaderPhotoRecipe.readAsDataURL(oFile);
    });
{#    -------------------------------------#}

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
            xhr.setRequestHeader('X-CSRFToken', key);
        }
    });

    $('#close-window-creation').on('click', function(event) {
        $('#createModal .close').click()
    });

    var closeModalWindowAfterSuccess = function() {
        $('#close-window-creation').click();
        $('#medicaments-table').DataTable().ajax.reload();
        $('#create-medicament-form')[0].reset();
        makeHiddenInputFile($('#photo-face'));
        makeHiddenInputFile($('#photo-date'));
        makeHiddenInputFile($('#photo-recipe'));

        $('.form-control-error-msg').remove();
        $.each($('.form-control-error'), function (key, element) {
            $(element).removeClass('form-control-error');
        });
    };

    var processErrorsAfterFailure = function(errors) {
        $('.form-control-error-msg').remove();
        $.each($('.form-control-error'), function (key, element) {
            $(element).removeClass('form-control-error');
        });

        $.each(errors, function(key, error) {
            if (!$('[name="' + error.field_name + '"]').hasClass('form-control-error')){
                $('[name="' + error.field_name + '"]').addClass('form-control-error');
                var errorMsg = '<p class="form-control-error-msg">' + error.message + '</p>';
                $($('[name="' + error.field_name + '"]')).parent().append(errorMsg)
            }
        });
    };

    $('#save-medicament').on('click', function(event) {
        event.preventDefault();
        var url = '';
        var data = new FormData();
        data.append('name', $('#medicament-name').val());
        data.append('price', $('#medicament-price').val());
        data.append('photo-face', $("#input-photo-face")[0].files[0]);
        data.append('photo-date', $("#input-photo-date")[0].files[0]);
        data.append('photo-recipe', $("#input-photo-recipe")[0].files[0]);
        data.append('category', $('#category').val());
        data.append('expire-date', $('#expire-date-picker').val());
        data.append('opening-date', $('#opening-date-picker').val());
        data.append('use-up-date', $('#use-up-date-picker').val());
        data.append('comment', $('#comment').val());

        if (medicamentAction === 'create') {
            url = "{% url 'save_medicament' %}";
            $.ajax({
                method:'POST',
                url: url,
                data: data,
                processData: false,
                contentType: false,
                success: function(resp){
                    if(resp.status === 'error') {
                        processErrorsAfterFailure(resp.errors);
                    } else {
                        closeModalWindowAfterSuccess();
                    }
                },
                error: function(resp) {
                    console.log('Ajax Error', resp);
                }
            });
        } else if (medicamentAction === 'edit') {
            url = "{% url 'update_medicament' medicament_id=0 %}";
            url = url.substring(0, url.length - 1) + medicamentIdEditAction.toString();

            $.ajax({
                method:'POST',
                url: url,
                data: data,
                processData: false,
                contentType: false,
                success: function(resp){
                    if(resp.status === 'error') {
                        processErrorsAfterFailure(resp.errors);
                    } else {
                        closeModalWindowAfterSuccess();
                    }
                },
                error: function(resp) {
                    console.log('Ajax Error', resp);
                }
            });
        }
    });

    $.ajax({
        type: 'GET',
        url: "{% url 'get_categories' %}",
        success: function(response){
            $.each(response, function(key, value) {
                var selected = '';
                if (value[1].toLowerCase() === 'пусто') {
                    selected = 'selected';
                }
                $('#category').append('<option value="' + value[0] + '"' + ' ' + selected + '>' + value[1] + '</option>')
            })
        }
    });

    $('#expire-date-picker').datetimepicker({
        locale: 'ru',
        date: new Date(),
        format: 'DD.MM.YYYY'
    });
    $('#opening-date-picker').datetimepicker({
        locale: 'ru',
        date: new Date(),
        format: 'DD.MM.YYYY'
    });
    $('#use-up-date-picker').datetimepicker({
        locale: 'ru',
        date: new Date(),
        format: 'DD.MM.YYYY'
    });

</script>