<div class="col-md-12">
    <div class="row">
        <table id="medicaments-table" class="display compact table-bordered" style="width:100%"></table>
    </div>
</div>


<script>
    $.get("{% url 'get_medicaments' %}", function(response){
        $('#medicaments-table').DataTable({
            data: response,
            columns: [
                { title: 'Название' },
                { title: 'Цена' },
                { title: 'Фото', render: function(data, type, row) {
                    return '<img src="' + data + '"  height="50" width="50"/>';
                }
                }
            ],
{#            paging: false,#}
{#            ordering: false,#}
            info: false,
            bSortClasses: false, /*Запрет подсветки отсортированной колонки*/
        });
    })
</script>
